{% extends 'base.html' %}
{% block content %}
    <div class="border p-3 m-3">
        <h5 class="font-monospace text-secondary text-center mb-3">Lista de Todos as Veículos</h5>
        {% include 'alert.html' %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Ano do Modelo</th>
                    <th scope="col">Ano de Fabricação</th>
                    <th scope="col">Chassi</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Cor</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                {% for vehicle in page_obj %}
                  <tr>
                    <td>{{ vehicle.brand_vehicle }}</td>
                    <td>{{ vehicle.model_vehicle }}</td>
                    <td>{{ vehicle.model_year }}</td>
                    <td>{{ vehicle.year_manufacture }}</td>
                    <td>{{ vehicle.chassis }}</td>
                    <td>{{ vehicle.type }}</td>
                    <td>{{ vehicle.color }}</td>
                    <td class="">
                        <a href="{% url 'vehicle_edit' vehicle.id %}" class="me-4 text-dark"><i class="fa-solid fa-pen-to-square "></i></a>  
                        <a href="{% url 'vehicle_delete' vehicle.id %}" class="me-4 text-dark" onclick="return confirm('Tem certeza que deseja excluir esse veículo ?')"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
             </table>
          </div>
          <nav aria-label="Page navigation example ">
            <ul class="pagination ">
              {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primeira</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
              {% endif %}
                <li class="page-item disabled"><span class="page-link text-secondary" >Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span></li>
              {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
              {% endif %}
            </ul>
          </nav>
    </div>
{% endblock %}  